.container {
    display: grid;
    grid-template-columns: [first] 320px [second] 1000px [third] 300px;
    grid-template-rows: [first] 50px [second] 250px [third] 700px;
    grid-template-areas:
        "header header header"
        "left-column middle-column toggles"
        "left-column middle-column options";
    column-gap: 20px;
}

.searchArea {
    grid-area: header;
}

.searchResults {
    grid-area: left-column;
}

.molstarViewer {
    grid-area: middle-column;
}

.molstarOptions {
    grid-area: options;
}

.molstarProteinToggles {
    grid-area: toggles;
}

.optionButtons {
    display: block;
    width: 200px;
    padding: 8px;
    /* margin-bottom: 5px; */
}
